html,
input {
  font-family: "PlusJakartaSans", "Open Sans", sans-serif;
}

@font-face {
  font-family: "PlusJakartaSans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/PlusJakartaSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "PlusJakartaSans";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/PlusJakartaSans-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "PlusJakartaSans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/PlusJakartaSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "PlusJakartaSans";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/PlusJakartaSans-SemiBoldItalic.woff2") format("woff2");
}
